<footer>
    <p>Desenvolvido por <strong>William Torres Araujo</strong></p>

    <p>Licença: <a href="https://www.gnu.org/licenses/gpl-3.0.pt-br.html" target="_blank">GPLv3</a></p>

    <p>Repositório: <a href="https://github.com/williamtorres64/unip-manager" target="_blank">unip-manager</a></p>

    <p class="disclaimer">
        Este software <strong>NÃO</strong> é afiliado, endossado ou mantido pela <strong>Universidade Paulista
            (UNIP)</strong>.
        Trata-se de uma ferramenta independente, desenvolvida com o objetivo de auxiliar os alunos.
        O uso deste software é de responsabilidade exclusiva do usuário, não havendo qualquer garantia de
        compatibilidade ou suporte oficial por parte da UNIP.
    </p>
</footer>