<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/horario.css">
    <title>Document</title>
</head>

<%- include('partials/header.ejs') %>

    <body>
        <div class="wrapperTabela">
            <div class="rowBlock tableHeader">
                <div class="headerCol">
                    <p>Dia</p>
                </div>
                <div class="headerCol">
                    <p>Horário</p>
                </div>
                <div class="headerCol">
                    <p>Disciplina</p>
                </div>
                <div class="headerCol">
                    <p>Sala</p>
                </div>
            </div>
            <div class="rowBlock segBlock">
                <div class="diaSemana ativo">
                    <p>SEG</p>
                </div>
                <div class="listaHorario">
                    <div class="periodo">
                        <p>​</p>
                    </div>
                    <div class="periodo">
                        <p>08:25 > 09:40</p>
                    </div>
                    <div class="periodo">
                        <p>Intervalo</p>
                    </div>
                    <div class="periodo">
                        <p>10:00 > 11:15</p>
                    </div>
                    <div class="periodo">
                        <p>11:15 > 12:30</p>
                    </div>
                </div>
                <div class="listaDisciplina">
                    <div class="nomeDisciplina">
                        <p>​</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>Ling. Prog. Orient. Obj.</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>Intervalo</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>Ling. Prog. Orient. Obj.</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>AVA - Homem Soc. // Parad. Ling.</p>
                    </div>
                </div>
                <div class="listaSala">
                    <div class="nomeSala">
                        <p>​</p>
                    </div>
                    <div class="nomeSala">
                        <p>Redes 2 ou Redes 1</p>
                    </div>
                    <div class="nomeSala">
                        <p>Intervalo</p>
                    </div>
                    <div class="nomeSala">
                        <p>Redes 2 ou Redes 1</p>
                    </div>
                    <div class="nomeSala">
                        <p>309</p>
                    </div>
                </div>
            </div>
            <div class="rowBlock terBlock">
                <div class="diaSemana">
                    <p>TER</p>
                </div>
                <div class="listaHorario">
                    <div class="periodo">
                        <p>​</p>
                    </div>
                    <div class="periodo">
                        <p>10:00 > 11:15</p>
                    </div>
                    <div class="periodo">
                        <p>Intervalo</p>
                    </div>
                    <div class="periodo">
                        <p>11:15 > 13:30</p>
                    </div>
                    <div class="periodo">
                        <p>​</p>
                    </div>
                </div>
                <div class="listaDisciplina">
                    <div class="nomeDisciplina">
                        <p>​</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>Banco de Dados</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>Intervalo</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>Banco de Dados</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>​</p>
                    </div>
                </div>
                <div class="listaSala">
                    <div class="nomeSala">
                        <p>​</p>
                    </div>
                    <div class="nomeSala">
                        <p>309 ou Redes 1</p>
                    </div>
                    <div class="nomeSala">
                        <p>Intervalo</p>
                    </div>
                    <div class="nomeSala">
                        <p>309 ou Redes 1</p>
                    </div>
                    <div class="nomeSala">
                        <p>​</p>
                    </div>
                </div>
            </div>
            <div class="rowBlock quaBlock">
                <div class="diaSemana">
                    <p>QUA</p>
                </div>
                <div class="listaHorario">
                    <div class="periodo">
                        <p>​</p>
                    </div>
                    <div class="periodo">
                        <p>10:00 > 11:15</p>
                    </div>
                    <div class="periodo">
                        <p>Intervalo</p>
                    </div>
                    <div class="periodo">
                        <p>11:15 > 13:30</p>
                    </div>
                    <div class="periodo">
                        <p>​</p>
                    </div>
                </div>
                <div class="listaDisciplina">
                    <div class="nomeDisciplina">
                        <p>​</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>Banco de Dados // Ling. Prog. Orient. Obj.</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>Intervalo</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>Banco de Dados // Ling. Prog. Orient. Obj.</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>​</p>
                    </div>
                </div>
                <div class="listaSala">
                    <div class="nomeSala">
                        <p>​</p>
                    </div>
                    <div class="nomeSala">
                        <p>309 ou Redes 1</p>
                    </div>
                    <div class="nomeSala">
                        <p>Intervalo</p>
                    </div>
                    <div class="nomeSala">
                        <p>309 ou Redes 1</p>
                    </div>
                    <div class="nomeSala">
                        <p>​</p>
                    </div>
                </div>
            </div>
            <div class="rowBlock quiBlock">
                <div class="diaSemana">
                    <p>QUI</p>
                </div>
                <div class="listaHorario">
                    <div class="periodo">
                        <p>​</p>
                    </div>
                    <div class="periodo">
                        <p>​</p>
                    </div>
                    <div class="periodo">
                        <p>(Dia sem aula)</p>
                    </div>
                    <div class="periodo">
                        <p>​</p>
                    </div>
                    <div class="periodo">
                        <p>​</p>
                    </div>
                </div>
                <div class="listaDisciplina">
                    <div class="nomeDisciplina">
                        <p>​</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>​</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>​</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>​</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>​</p>
                    </div>
                </div>
                <div class="listaSala">
                    <div class="nomeSala">
                        <p>​</p>
                    </div>
                    <div class="nomeSala">
                        <p>​</p>
                    </div>
                    <div class="nomeSala">
                        <p>​</p>
                    </div>
                    <div class="nomeSala">
                        <p>​</p>
                    </div>
                    <div class="nomeSala">
                        <p>​</p>
                    </div>
                </div>
            </div>
            <div class="rowBlock sexBlock">
                <div class="diaSemana">
                    <p>SEX</p>
                </div>
                <div class="listaHorario">
                    <div class="periodo">
                        <p>08:50 > 09:40</p>
                    </div>
                    <div class="periodo">
                        <p>10:00 > 11:15</p>
                    </div>
                    <div class="periodo">
                        ​
                    </div>
                    <div class="periodo">
                        ​
                    </div>
                    <div class="periodo">
                        ​
                    </div>
                </div>
                <div class="listaDisciplina">
                    <div class="nomeDisciplina">
                        <p>AVA - Est. Prob</p>
                    </div>
                    <div class="nomeDisciplina">
                        <p>Álgebra Linear</p>
                    </div>
                    <div class="nomeDisciplina">
                        ​
                    </div>
                    <div class="nomeDisciplina">
                        ​
                    </div>
                    <div class="nomeDisciplina">
                        ​
                    </div>
                </div>
                <div class="listaSala">
                    <div class="nomeSala">
                        <p>309</p>
                    </div>
                    <div class="nomeSala">
                        <p>309</p>
                    </div>
                    <div class="nomeSala">
                        ​
                    </div>
                    <div class="nomeSala">
                        ​
                    </div>
                    <div class="nomeSala">
                        ​
                    </div>
                </div>
            </div>

        </div>

        <%- include('partials/footer.ejs') %>
    </body>


    <script type="text/javascript" src="js/horario.js"></script>

</html>