
body {
    max-width: 80%;
    margin-inline: auto;
}

div {
    border: black 1px solid;
    font-size: 0.875rem;
}

.wrapperTabela{
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: 2.188rem 11.25rem 25rem 12.5rem;
}

.headerCol {
    text-align: center;
}

.diaSemana {
    writing-mode: vertical-lr;
    text-orientation:upright;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}   


.rowBlock {

    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / 5;
    
}

.periodo {
    text-align: center;
}

.nomeDisciplina p, .nomeSala p {
    margin-left: 0.375rem;
}

.ativo {
    background-color: #a5d4ff;
}